.card-text {
  padding-bottom: 30px;
  word-break: break-all;
}

.box {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  min-height: 180px;
}

.box:hover {
  transform: scale(1.02);
}

.divider {
  height: 1px;
  position: absolute;
  bottom: 55px;
  left: 2px;
  width: 98%;
  background-color: #80444444;
}

.completed-box .divider {
  background-color: #cccccc ;
}

.completed-box {
  background-color: #fcf4c7;
}

.incompleted-box {
  background-color: white;
}

.trash-icon {
  margin: 4px;
  position: absolute;
  right: 10px;
  bottom: 15px;
}

.trash-icon:hover {
  color: #bda102;
}

.check-icon {
  margin: 4px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

.check-icon:hover {
  color: #bda102;
}

.undo-icon {
  margin: 4px;
  position: absolute;
  left: 10px;
  bottom: 15px;
}

.undo-icon:hover {
  color: #bda102;
}

.play-icon {
  margin: 4px;
  position: absolute;
  left: 70px;
  bottom: 15px;
}

.play-icon:hover {
  color: #bda102;
}

.pause-icon {
  padding: 4px;
  position: absolute;
  right: 40px;
  bottom: 15px;
}

.pause-icon:hover {
  color: #bda102;
}

.edit-icon {
  margin: 4px;
  position: absolute;
  left: 40px;
  bottom: 15px;
}

.edit-icon:hover {
  color: #bda102;
}

.time {
  margin: 0px;
  position: absolute;
  right: 85px;
  bottom: 15px;
}